body{
    background: linear-gradient(#EBD1E2, #E1D1E2, #D7D1E2, #CDD1E2, #C3D1E2);
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0px;
}

#box1{
    font-family: Audiowide;
    padding-left: 40%;
    padding-right:41.5%;
    padding-top: 0%;
    padding-bottom: 0%;
    font-size: 150%;
    text-align: center;
    background: linear-gradient(to left,#ffb726, #ffbd24, #ffc821);
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0px;
    color: rgb(87, 87, 87);
    border-style: outset;
    border-width: 3px;
    border-color:#000000;
    border-radius: 3px;
    position: fixed;
    top: 0px;
    z-index: 10;
}
#h1{
    text-align:center;font-family: Lora;
    font-size: 300%;
}
#h1dl{
    text-align:center;font-family: Lora;
    font-size: 300%;
}
#h2{
    text-align:center;font-family: Lora;
    font-size: 200%;
}
#h3{
    text-align: center;
    font-size: 250%;
}
#h1-zh{
    text-align:center;
    font-family: Noto Sans Hong Kong;
    font-size: 300%;
}
#h2-zh{
    text-align:center;
    font-family: Noto Sans Hong Kong;
    font-size: 175%;
}
.h1{
    text-align:center;font-family: Lora;
    font-size: 300%;
}
.h2{
    text-align:center;font-family: Lora;
    font-size: 150%;
}
a{
    font-size: 200%;

}
#icon1{
    position:fixed;
    top: 0.3cm;
    left: 0.5cm;
    z-index: 11;
}
#icon2{
    position:fixed;
    top: 0.3cm;
    left: 4.5cm;
    z-index: 11;
}
#icon3{
    position:fixed;
    top: 0.3cm;
    left: 6.5cm;
    z-index: 11;
}
#icon4{
    position:fixed;
    top: 0.3cm;
    left: 2.5cm;
    z-index: 11;
}
#icon5{
    position:fixed;
    top: 0.3cm;
    left: 8.5cm;
    z-index: 11;
}
#icon6{
    position:fixed;
    top: 0.3cm;
    right: 0.5cm;
    z-index: 11;
    size-adjust: 200%;
}
#intro1{
    text-align: right;
}
#pic1{
    width:1cm;
    height:1cm;
}
#list1{
    position: absolute;
    left:25%;
    font-size: large;
}
.list1{
    position: absolute;
    left: 20%;
    right: 20%;
    font-size: large;
}
.cli1{
    font-family: Lora;
    font-size: 90%;
}
#list1-zh{
    position: absolute;
    left:25%;
    font-size: large;
}
#list2{
    position: absolute;
    left:25%;
    font-size: large;
}
#p1{
    text-align: center;
    font-size: 200%;
    font-family: Noto Sans Traditional Chinese;
}
#h3ds{
    font-family: Noto Sans Hong Kong;
    text-align: center;
    font-size:170%;
}
#ltext{
    font-size:larger;
}
a:link{
    color:#433966;
}
a:visited{
    color:#433966; 
}
a:active{
    color:#de543c;
}
#pdf1{
    width: 70%;
    height: 20cm;
    position:absolute;
    left: 15%;
    top: 30%;
    z-index: 1;
    border-width: 0px;
}
.emo{
    width: 30px;
}
#box2{
    background-color: #ffbd24;
    font-family: Audiowide;
    border-style: groove;
    border-color: #000000;
    border-width: 2px;
    height: 190px;
    width:150px;
    padding-left:0%;
    z-index: 9;
    position:fixed;
}
#linkWord{
    font-size: 110%;
}
#box3{
    z-index: 1;
}
#dp1{
    font-family: Oswald;
    text-align: center;
    font-size:200%;
}
#frame1{
    zoom:450%;
    position:absolute;
    left:15%;
    width: 70%;
    border-width: 0.5px;
}
#iframe2{
    width: 1000px;
    min-height: 500px;
}
#vipc{
    font-family: Oswald;
    font-size: 200%;
    text-align:center;
}
.button1{
    position:fixed;
    top: 0.3cm;
    right: 0.5cm;
    z-index: 11;
    font-size: 150%;
}
.button2{
    position:fixed;
    top: 0.3cm;
    right: 2.5cm;
    z-index: 11;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 150%;
}
.leftPho{
    float: left;
}
.rightPho{
    float: right;
}
@media (orientation: portrait){
    #box1{
        font-size: 100%;
        padding-left: 35%;
        text-align: center;
    }
    #icon1{
        font-size: 75%;
        position:fixed;
        top: 0.3cm;
        left: 0.1cm;
        z-index: 11;
    }
    #icon4{
        font-size: 75%;
        position:fixed;
        top: 0.3cm;
        left: 1.4cm;
        z-index: 11;
    }
    #icon2{
        font-size: 75%;
        position:fixed;
        top: 1.5cm;
        left: 0.1cm;
        z-index: 11;
    }
    #icon3{
        font-size: 75%;
        position:fixed;
        top: 1.5cm;
        left: 1.4cm;
        z-index: 11;
    }
    #icon5{
        font-size: 75%;
        position:fixed;
        top: 0.3cm;
        left: 2.7cm;
        z-index: 11;
    }
    .h1 .h2{
        text-align: center;
    }
    .h1{
        font-size: 200%;
    }
    .h2{
        font-size: 125%;
    }
    #pic1{
        width: 0.7cm;
        height: 0.7cm;
    }
    .list1{
        position:static
    }
    .cli1{
        font-size: 80%;
    }
    #h1-zh{
        text-align:center;
        font-family: Noto Sans Hong Kong;
        font-size: 200%;
    }
    #h2-zh{
        text-align:center;
        font-family: Noto Sans Hong Kong;
        font-size: 115%;
    }
    #list1-zh{
        position: static;
        left:25%;
        font-size: large;
    }
    #h3{
        font-size: 175%;
    }
    #h3ds{
        font-size: 95%;
    }
    #frame1{
        width: 70%;
        height: 60%;
    }
    .intro1{
        font-size: 55%;
    }
    .emo{
        width: 17px;
    }
    #vipc{
        font-size: 150%;
        text-align: center;
    }
    #vipimg{
        width: 100%;
    }
    .content{
        font-size: 175%;
    }
    #h1dl{
        font-size: 200%;
    }
}