body{
    background-color: #90BDD4;
    margin: 0px;
}

#box1{
    font-family: Audiowide;
    padding-left: 40%;
    padding-right:41.5%;
    padding-top: 0%;
    padding-bottom: 0%;
    font-size: 150%;
    text-align: center;
    background-color: #EDAC5C;
    color: rgb(87, 87, 87);
    border-style: outset;
    border-width: 3px;
    border-color:#000000;
    border-radius: 3px;
    position: fixed;
    top: 0px;
    z-index: 10;
}

#h1{
    text-align:center;font-family:Edu VIC WA NT Beginner, Mochiy Pop One;
    font-size: 300%;
}
#h2{
    text-align:center;font-family:Edu VIC WA NT Beginner, Mochiy Pop One;
    font-size: 200%;
}
#h3{
    text-align: center;
    font-size: 250%;
}
#h1-zh{
    text-align:center;font-family: Noto Sans Hong Kong;
    font-size: 300%;
}
#h2-zh{
    text-align:center;font-family: Noto Sans Hong Kong;
    font-size: 200%;
}
.h1{
    text-align:center;font-family:Edu VIC WA NT Beginner, Mochiy Pop One;
    font-size: 300%;
}
.h2{
    text-align:center;font-family:Edu VIC WA NT Beginner, Mochiy Pop One;
    font-size: 200%;
}
a{
    font-size: 200%;

}
#icon1{
    position:fixed;
    top: 0.3cm;
    left: 0.5cm;
    z-index: 11;
}
#icon2{
    position:fixed;
    top: 0.3cm;
    left: 4.5cm;
    z-index: 11;
}
#icon3{
    position:fixed;
    top: 0.3cm;
    left: 6.5cm;
    z-index: 11;
}
#icon4{
    position:fixed;
    top: 0.3cm;
    left: 2.5cm;
    z-index: 11;
}
#icon5{
    position:fixed;
    top: 0.3cm;
    left: 8.5cm;
    z-index: 11;
}
#icon6{
    position:fixed;
    top: 0.3cm;
    right: 0.5cm;
    z-index: 11;
    size-adjust: 200%;
}
#intro0{
    text-align:center;
}
#intro1{
    text-align:center;
}
#intro2{
    text-align:center;
}
#intro3{
    text-align:center;
}
#intro4{
    text-align:center;
}
#intro5{
    text-align:center;
}
#intro6{
    text-align:center;
}
#intro7{
    text-align:center;
}
#intro8{
    text-align:center;
}
#pic1{
    width:1cm;
    height:1cm;
}
#list1{
    position: absolute;
    left:25%;
    font-size: large;
}
.list1{
    position: absolute;
    left:25%;
    font-size: large;
}
#list1-zh{
    position: absolute;
    left:25%;
    font-size: large;
}
#list2{
    position: absolute;
    left:25%;
    font-size: large;
}
#p1{
    text-align: center;
    font-size: 200%;
    font-family: Noto Sans Traditional Chinese;
}
#h3ds{
    font-family: Noto Sans Hong Kong;
    text-align: center;
    font-size:170%;
}
#ltext{
    font-size:larger;
}
a:link{
    color:#433966;
}
a:visited{
    color:#433966; 
}
a:active{
    color:#de543c;
}
#pdf1{
    width: 70%;
    height: 20cm;
    position:absolute;
    left: 15%;
    top: 30%;
    z-index: 2;
}
#emoji-RS{
    width: 30px;
}
#emoji-HL{
    width: 30px;
}
#emoji-HA{
    width: 30px;
}
#emoji-PV{
    width: 30px;
}
#box2{
    background-color: #EDAC5C;
    font-family: Audiowide;
    border-style: groove;
    border-color: #000000;
    border-width: 2px;
    height: 190px;
    width:150px;
    padding-left:0%;
}
#dp1{
    font-family: Oswald;
    text-align: center;
    font-size:200%;
}
#frame1{
    zoom:450%;
    position:absolute;
    left:15%;
}
#vipc{
    font-family: Oswald;
    font-size: 200%;
    text-align:center;
}
.button1{
    position:fixed;
    top: 0.3cm;
    right: 0.5cm;
    z-index: 11;
    font-size: 150%;
}
.button2{
    position:fixed;
    top: 0.3cm;
    right: 2.5cm;
    z-index: 11;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 150%;
}